<ion-header>
  <ion-navbar>
    <ion-title>Translator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    
      <ion-item>
        <ion-label fixed>Your text</ion-label>
        <ion-input #tText type="text" value=""></ion-input>
        <button (click)="speechToText()" ion-button item-right clear>
          <ion-icon name="mic"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <ion-label>From</ion-label>
        <ion-select [(ngModel)]="langFrom">
          <ion-option *ngFor="let lang of languages" [value]="lang">{{lang | uppercase}}</ion-option>          
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>To</ion-label>
        <ion-select [(ngModel)]="langTo">
          <ion-option *ngFor="let langTo of languages" [value]="langTo">{{langTo | uppercase}}</ion-option>          
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Speech after translate</ion-label>
        <ion-toggle checked="{{speech}}" [(ngModel)]="isToggled" (ionChange)="saveOptionSpeech()"></ion-toggle>
      </ion-item>

    </ion-list>

    <button (click)="translateClick(tText.value)" ion-button full>Translate</button>

    <ion-card>
      
        <ion-card-header>
          Translated
        </ion-card-header>
      
        <ion-card-content>
           {{ cardContent }}
        </ion-card-content>
      
    </ion-card>

</ion-content>
